@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,303;1,303&display=swap");

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  color: black;
}
